# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_to_load = "../Weather_Database/WeatherPy_database.csv"

city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,41.52,75,100,5.75,overcast clouds
1,1,Deputatskiy,RU,69.3000,139.9000,0.70,94,36,6.55,scattered clouds
2,2,Hartford,US,41.7668,-72.7662,48.20,83,0,3.44,clear sky
3,3,Sinjai,ID,-5.1241,120.2530,88.09,62,93,6.04,overcast clouds
4,4,Tuatapere,NZ,-46.1333,167.6833,51.24,50,62,6.76,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# User enters their minimum temperature criteria
# User enters their maximum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Bengkulu,ID,-3.8004,102.2655,80.33,79,100,3.62,overcast clouds
7,7,Hobart,AU,-42.8794,147.3294,75.25,58,75,12.66,broken clouds
8,8,Feijo,BR,-8.1642,-70.3536,73.65,98,100,2.53,overcast clouds
12,12,Sagua De Tanamo,CU,20.5819,-75.2414,73.80,94,67,2.57,broken clouds
13,13,New Norfolk,AU,-42.7826,147.0587,73.92,45,100,9.13,light rain
15,15,Kapaa,US,22.0752,-159.3190,78.78,77,100,6.91,light rain
18,18,Padang,ID,-0.9492,100.3543,84.25,73,89,3.94,overcast clouds
19,19,Ca Mau,VN,9.1769,105.1500,84.90,73,98,10.16,overcast clouds
23,23,Cabo San Lucas,MX,22.8909,-109.9124,81.61,76,9,7.00,clear sky
24,24,Gambiran,ID,-6.7988,111.4951,84.81,67,100,3.29,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [12]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

clean_travel_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Bengkulu,ID,-3.8004,102.2655,80.33,79,100,3.62,overcast clouds
7,7,Hobart,AU,-42.8794,147.3294,75.25,58,75,12.66,broken clouds
8,8,Feijo,BR,-8.1642,-70.3536,73.65,98,100,2.53,overcast clouds
12,12,Sagua De Tanamo,CU,20.5819,-75.2414,73.80,94,67,2.57,broken clouds
13,13,New Norfolk,AU,-42.7826,147.0587,73.92,45,100,9.13,light rain
15,15,Kapaa,US,22.0752,-159.3190,78.78,77,100,6.91,light rain
18,18,Padang,ID,-0.9492,100.3543,84.25,73,89,3.94,overcast clouds
19,19,Ca Mau,VN,9.1769,105.1500,84.90,73,98,10.16,overcast clouds
23,23,Cabo San Lucas,MX,22.8909,-109.9124,81.61,76,9,7.00,clear sky
24,24,Gambiran,ID,-6.7988,111.4951,84.81,67,100,3.29,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [13]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [14]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Bengkulu,ID,80.33,overcast clouds,-3.8004,102.2655,
7,Hobart,AU,75.25,broken clouds,-42.8794,147.3294,
8,Feijo,BR,73.65,overcast clouds,-8.1642,-70.3536,
12,Sagua De Tanamo,CU,73.80,broken clouds,20.5819,-75.2414,
13,New Norfolk,AU,73.92,light rain,-42.7826,147.0587,
15,Kapaa,US,78.78,light rain,22.0752,-159.3190,
18,Padang,ID,84.25,overcast clouds,-0.9492,100.3543,
19,Ca Mau,VN,84.90,overcast clouds,9.1769,105.1500,
23,Cabo San Lucas,MX,81.61,clear sky,22.8909,-109.9124,
24,Gambiran,ID,84.81,overcast clouds,-6.7988,111.4951,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [15]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [16]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Bengkulu,ID,80.33,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
7,Hobart,AU,75.25,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
8,Feijo,BR,73.65,overcast clouds,-8.1642,-70.3536,Hotel e Restaurante Aҫai
12,Sagua De Tanamo,CU,73.80,broken clouds,20.5819,-75.2414,
13,New Norfolk,AU,73.92,light rain,-42.7826,147.0587,The Shingles Riverside Cottages
15,Kapaa,US,78.78,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Padang,ID,84.25,overcast clouds,-0.9492,100.3543,Mercure Padang
19,Ca Mau,VN,84.90,overcast clouds,9.1769,105.1500,Mường Thanh Luxury Cà Mau Hotel
23,Cabo San Lucas,MX,81.61,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
24,Gambiran,ID,84.81,overcast clouds,-6.7988,111.4951,GUBUK KU

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [18]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Bengkulu,ID,80.33,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
7,Hobart,AU,75.25,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
8,Feijo,BR,73.65,overcast clouds,-8.1642,-70.3536,Hotel e Restaurante Aҫai
12,Sagua De Tanamo,CU,73.80,broken clouds,20.5819,-75.2414,
13,New Norfolk,AU,73.92,light rain,-42.7826,147.0587,The Shingles Riverside Cottages
15,Kapaa,US,78.78,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Padang,ID,84.25,overcast clouds,-0.9492,100.3543,Mercure Padang
19,Ca Mau,VN,84.90,overcast clouds,9.1769,105.1500,Mường Thanh Luxury Cà Mau Hotel
23,Cabo San Lucas,MX,81.61,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
24,Gambiran,ID,84.81,overcast clouds,-6.7988,111.4951,GUBUK KU

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [31]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [32]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"
# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [33]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [34]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>St Ives Hobart Accommodation Tasmania</dd>\n<dt>City</dt><dd>Hobart</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel e Restaurante Aҫai</dd>\n<dt>City</dt><dd>Feijo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Sagua De Tanamo</dd>\n<dt>Country</dt><dd>CU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 73.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Shingles Riverside Cottages</dd>\n<dt>City</dt><dd>New Norfolk</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>light rain and 73.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 78.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mường Thanh Luxury Cà Mau Hotel</dd>\n<dt>City</dt><dd>Ca Mau</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>GUBUK KU</dd>\n<dt>City</dt><dd>Gambiran</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.81 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [42]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
5   -3.8004  102.2655
7  -42.8794  147.3294
8   -8.1642  -70.3536
12  20.5819  -75.2414
13 -42.7826  147.0587
15  22.0752 -159.3190
18  -0.9492  100.3543
19   9.1769  105.1500
23  22.8909 -109.9124
24  -6.7988  111.4951

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [44]:
max_temp = hotel_df["Max Temp"]

In [45]:
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))